<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <ipSecurity allowUnlisted="false">
                <clear />
                <add ipAddress="10.0.0.0" subnetMask="255.0.0.0" allowed="true" />
                <add ipAddress="128.141.0.0" subnetMask="255.255.0.0" allowed="true" />
                <add ipAddress="128.142.0.0" subnetMask="255.255.0.0" allowed="true" />
                <add ipAddress="137.138.0.0" subnetMask="255.255.0.0" allowed="true" />
                <add ipAddress="172.16.0.0" subnetMask="255.240.0.0" allowed="true" />
                <add ipAddress="192.16.155.0" subnetMask="255.255.255.0" allowed="true" />
                <add ipAddress="192.16.165.0" subnetMask="255.255.255.0" allowed="true" />
                <add ipAddress="192.91.242.0" subnetMask="255.255.255.0" allowed="true" />
                <add ipAddress="192.168.0.0" subnetMask="255.255.0.0" allowed="true" />
                <add ipAddress="194.12.128.0" subnetMask="255.255.192.0" allowed="true" />
                <add ipAddress="127.0.0.0" subnetMask="255.0.0.0" allowed="true" />
                <add ipAddress="188.184.0.0" subnetMask="255.254.0.0" allowed="true" />
            </ipSecurity>
        </security>
    </system.webServer>
</configuration>
